$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$cyan-primary: $cyan-900;

.logo {
  display: inline-block;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--header {
    width: $spacer * 4.5;
    height: $spacer * 2.5;
  }
}

.content-items {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;

  &__item {
    display: flex;
    justify-content: center;

    & + & {
      margin-top: $spacer * 4;
    }

    &:last-child {
      margin-bottom: $spacer * 2;
    }
  }

}

.hidden{
  position: absolute;
  left: 0;
  top: 0;
  height: 0.001px;
  width: 0.001px;
  font-size: 0.001px;
}