section#services.section.bg-dark.text-center
	.container.content-items
		.row.py-5
			.col-md-4
				.card.bg-white
					.card-body
						h5.card-title Выгодно
						span.d-flex.justify-content-center
							i.bi.bi-check-lg.display-3.text-danger
						p.card-text Мы всегда идем на встречу клиенту!
			.col-md-4.mt-4.mt-md-0
				.card.bg-white
					.card-body
						h5.card-title Оперативно
						span.d-flex.justify-content-center
							i.bi.bi-check-lg.display-3.text-danger
						p.card-text Мы быстро приедем за Вашим авто!
			.col-md-4.mt-4.mt-md-0
				.card.bg-white
					.card-body
						h5.card-title Надежно
						span.d-flex.justify-content-center
							i.bi.bi-check-lg.display-3.text-danger
						p.card-text Мы вытащим Вас из любой ситуации
