section#order.section.order.bg-warning
	.container
		.content-items
			.content-items__item
				p.h1.text-center.pb-2.border-bottom.border-white.border-2 КАК ВЫЗВАТЬ ЭВАКУАТОР?
			.content-items__item
				.row.p
					.col-md-4
						.pb-5.pb-md-0.text-center
							span.d-flex.justify-content-center.pb-2
								i.bi.bi-telephone.display-3.text-danger
							p.h4.pb-2 ПОЗВОНИТЕ ПО ТЕЛЕФОНУ
							.d-flex.justify-content-center
								a.button.button--white.button--text-danger(href="tel:+380677681103") Нажмите эту кнопку
					.col-md-4
						.pb-5.pb-md-0.text-center
							span.d-flex.justify-content-center.pb-2
								i.bi.bi-file-person.display-3.text-danger
							p.h4 СООБЩИТЕ ОПЕРАТОРУ
							ul.ps-0
								li
									span марку и массу авто
								li
									span причину эвакуации
								li
									span Ваше местоположение
					.col-md-4.text-center
						span.d-flex.justify-content-center.pb-2
							i.bi.bi-stopwatch.display-3.text-danger
						p.h4 ПРИГОТОВЬТЕ ДОКУМЕНТЫ
						ul.ps-0
							li
								span подтверждающие право собственности
							li
								span или водительское удостоверение
							li
								span и
						p.h6 ОЖИДАЙТЕ 15-30 мин
