section#intro.section.intro
	.container
		.content-items
			.content-items__item
				h1.display-1.text-center.fw-normal.text-white.my-md-5 ВЫЗОВ ЭВАКУАТОРА В КОНОТОПЕ И КОНОТОПСКОМ РАЙОНЕ
			.content-items__item
				a.button.button--white.button--text-danger(href="tel:+380677681103") (067)768-1103