section#intro.section.intro
	.container.intro-content
		.intro-content__item
			h1.display-1.text-center.fw-normal.text-white.my-md-5 ВЫЗОВ ЭВАКУАТОРА В КОНОТОПЕ И КОНОТОПСКОМ РАЙОНЕ
		.intro-content__item
			//.d-flex.justify-content-center
			a.intro-content__call(href="tel:+380670001111") Вызвать эвакуатор