.header.sticky-top.bg-light
	.container
		nav.navbar.navbar-expand-md.navbar-light
			a.navbar-brand.logo.logo--header(href='#')
			//button.navbar-toggler.js-nav-bar-button(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
			button.navbar-toggler.js-nav-bar-button(type='button')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav.ms-auto
					li.nav-item
						a.nav-link.js-nav-link(href='#intro') Главная
					li.nav-item
						a.nav-link.js-nav-link(href='#services') Услуги
					li.nav-item
						a.nav-link.js-nav-link(href='#order') Вызвать эвакуатор
